# coding: utf-8

{{>partial_header}}
from __future__ import absolute_import

from locust import HttpUser, task


class Test{{className}}(HttpUser):
    """{{className}} load test stubs"""

    {{#getOperations}}
    @task
    def test_{{functionName}}(self):
        self.client.get('{{url}}')

    {{/getOperations}}
